*.aux
*.toc
*.thm
*.out
*.log
*.blg
DiplomatervSablon_LaTeX_v1/
*.ldf
képek/
Cikk/
*.tcp
*.gz
Kameras-forgalomszamlalo-rendszer-fejlesztese-Feladatkiiras-2.pdf
Kamerás forgalomszámláló rendszer fejlesztése és integrációja.pptx
*.bak
Latex document/TDK_ref.bib
*.dvi
*.pdf_tex
*.pdf
Latex document/figures/succ_frames/
Latex document/figures/flowchart_ims/
*.ind
*.ilg
*.idx
